* {
  margin: 0;
  padding: 0;
}

:root {
  --white: hsl(0, 0%, 100%);
  --slate-300: hsl(212, 45%, 89%);
  --slate-500: hsl(216, 15%, 48%);
  --slate-900: hsl(218, 44%, 22%);
}

body {
  background-color: var(--slate-300);
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.card {
  background-color: var(--white);
  max-width: 320px;
  max-height: 499px;

  border-radius: 16px;
  text-align: center;
  padding-bottom: 30px;
}

img {
  width: auto;
  padding: 16px;
  max-width: 288px;
  border-radius: 26px;
}

h1 {
  font-family: "Outfit", sans-serif;
  color: var(--slate-900);
  font-size: 22px;
  font-weight: bold;
  width: auto;
  margin: 5px 0;
}

p {
  font-family: "Outfit", sans-serif;
  color: var(--slate-500);
  font-size: 15px;
  width: 80%;
  text-align: center;
  margin: 0 auto;
}

.card-header {
  margin: 0 20px;
  width: 90%;
}

@media (max-width: 375px) {
  .card {
    max-width: 90%;
    padding: 10px;
    border-radius: 14px;
  }

  img {
    max-width: 100%;
    padding: 0;
    border-radius: 14px;
  }
}
